Source: cpp-template
Package: cpp-template
Version: 1.1
Maintainer: Bryson MacDuff
Architecture: all
Description: This debian package is from a c++ template project.
Build-Depends: build-essential, libgtest-dev, libgmock-dev, libspdlog-dev, cmake
